* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}
img {
    margin-top: .5px;
    position: relative;
    padding-bottom: -10px;
    height: 100%;

}
.mission{
    background-color: rgb(174, 100, 181);
    text-align: center;
    padding-top: 20px;
    color: rgb(85, 1, 104);
    padding-bottom: 50px;
}
h2{
    padding-top: 15px;
}
.offer{
    background-color: rgb(85, 1, 104);
    color: rgb(255, 255, 255);
    padding-top: 20px;
    text-align: center;
    padding-bottom: 50px;
}
.footers {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    position: fixed;
}
